body{
    margin: 0;
    background-color: rgb(252, 146, 107);
}

.container{
    background-color: rgb(253, 179, 95);
    min-height: 100vh;
    box-shadow: #00000040 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.inputArea{
    margin-bottom: 30px;
}
.taskArea{
    border: 1px solid gray;
}

.taskTabs{
    display: flex;
    border-bottom: 1px solid gray;
    position: relative;
}

.taskTabs div{
    padding: 1em;
    cursor: pointer;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

#underLine{
    position : absolute;
    background-color: brown;
    width: 70px;
    top: 52px;
    height: 5px;
    padding: 0;
}

#done{
    text-decoration: line-through;
    color: rgba(255, 0, 0, 0.741)
}